/* base styles */

* {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: 'Open Sans', sans-serif;
  --ff-secondary: 'Roboto', sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --white: #fff;
  --darkWhite: #edecec;
  --lightGreen: #16E0BD;
  --mediumGreen: #14CFAE;
  --darkGreen: #1C4B43;
  --lightBlack: #303030;
  --mediumBlack: #282828;
  --darkestBlack: #141414;

  --boxshadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

.primary-font {
  font-family: var(--ff-primary);
}

.secondary-font {
  font-family: var(--ff-secondary);
}